/* Estilos para pantallas grandes */
.circularImage {
  border-radius: 60%;
  width: 350px !important;
  height: 350px !important;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .circularImage {
    height: 250px !important;  
    width: 250px !important;  
    border-radius: 60%;
  }
}
