/* Estilos para pantallas grandes */
.circularImage {
  height: 350px !important;
  width: 350px !important;
  border-radius: 50%;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .circularImage {
    height: 350px;  /* Ajusta la altura para pantallas más pequeñas */
    width: 350px;   /* Ajusta el ancho para pantallas más pequeñas */
    border-radius: 60%;
  }
}
